{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container py-5 text-light" style="max-width: 700px; min-height: 70vh;">
    <h1 class="mb-5">About This Project</h1>

    <p class="lead mb-4">
        This is a personal project built as a coding challenge and exercise to expand my skills in Python, Flask and HTML.
    </p>

    <p class="mb-4">
        The Steam games database was generated in a previous project using raw data sourced from
        <a href="https://www.kaggle.com/datasets/nikdavis/steam-store-games?select=steam.csv" target="_blank" rel="noopener noreferrer" class="text-info">
            Kaggle's Steam Games Dataset
        </a>.
    </p>

    <p class="mb-4">
        The project serves as a practical demonstration of my coding skills.
        Feedback and suggestions are welcome!
    </p>

</div>
{% endblock %}